/* CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS reset */ 

/* CSS variable */
:root{
    --main-bg-color: #38393a;
    --wrapper-bg-color: #292A2b;
}




body{
    background-color: var(--main-bg-color);
}

#main_wrapper{
    margin: auto;
    height:100vh;
    width: 1000px;
    background-color: var(--wrapper-bg-color);
}

header{
    width: 100%;
    border-bottom: 1px solid silver;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: arial;
    line-height: 70px;
    background-color: rgba(20, 20, 20, 0.5)/*#212121*/;
}
/*
#news{
    background-color: rgba(0, 0, 0, .2);
    margin-bottom: 5%;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid silver;
    overflow: hidden;
}

#news_slider{
    padding: 0px 15px;
    color: white;
    font-family: arial;
    font-size: 25px;
    line-height: 50px;
    
    animation-name: slideNews;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}
*/

/* The 4 main icons */
#portfolio_wrapper div{
    position: relative;
    color: white;
    height: 200px;
    width: 180px;
    float: left;
    text-align: center;
    font-family: arial;
    padding-top: 20px;
    font-size: 25px;
    margin-left: 20%;
    margin-bottom: 25px;
    opacity: 0.7;
}

#portfolio_wrapper div a{
    text-decoration: none;
    color: white;
}

/* images in the 4 main icons*/
#portfolio_wrapper div img{
    padding-top: 20px;
    width: 130px
}

#portfolio_wrapper div hr{
    position: absolute;
    bottom: 1px;
    width: 0px;
    height: 0px;
    border-top: 3px solid white;
    visibility: hidden;
}

#portfolio_wrapper div:hover hr{
    animation-name: rule;
    animation-duration: .7s;
    animation-fill-mode: both;
    visibility: visible;
    border-radius: 50px;
}

#portfolio_wrapper div:hover{
    opacity: 1;
    cursor: pointer;
}

/* ANIMATIONS */
@keyframes slideNews{
    from{transform: translate(-750px)}
    to{transform: translateX(1000px)}
}

@keyframes rule{
    from{width: 0%}
    to{width: 100%}
}