/* CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS reset */ 

body{
    background-color: #38393a;
}

#content_wrapper{
    width: 800px;
    height: 100vh;
    margin: 0px auto;
    overflow: hidden;
}

header{
    position: relative;
    text-align: center;
    width: 100%;
    color: white;
    font-family: arial;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(20, 20, 20, 0.5);
}

/* Home icon */
header img{
position: absolute;
top: 10px;
left: 0px;
opacity: 0.8;
}

header img:hover{
cursor: pointer;
opacity: 1;
}

nav{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
}

nav a{
    transition-duration: 0.08s;
    text-align: center;
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

nav a:hover{
    background-color: rgba(200 , 200 ,200, .2);
}

#portfolio_wrapper{
position: relative;
width: 800px;
height: 1000px;
margin: 0px auto;
}


ul{
    transition-property: height;
    transition-duration: .6s;
    height: 0px;
    position: absolute;
    margin: auto;
    left: 0px;
    top: 0px; /* Header height + nav height */
    z-index: 2;
    background-color: rgb(50, 50 ,50);
    overflow: hidden;
}

ul li{
    color: white;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 10px;
    text-align: center;
}

ul li:hover{
    background-color: rgb(100 , 100 ,100);
    cursor: pointer;
}

#menu_status{
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: right;
    display: inline-block;
    padding: 0px 20px 0px 0px;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

img{
    float:left;
    width: 25px;
    height: 25px;
    padding: 0px 10px 0px 10px;
    margin-top: 2px;
}

img:hover{
    cursor: pointer;
}

.show{
    display: inline-block;
    height: 180px;;
}


.vid_wrapper{
    width:640px;
    height: 480px; 
    margin: auto;
    
}

.pdf_frame{
    width: 100%;
    height: 90vh;
}

.vid_frame{
    width: 100%;
    height: 100%;
}